{% extends 'base.html' %}
  {% load static %}
  {% block title %} Register {% endblock %}
  {% block head %} {% include 'partials/auth_head.html' %} {% endblock %}

  {% block body %}

<div class="wrapper vh-100">
	<div class="row align-items-center h-100">

		<form class="col-lg-6 col-md-8 col-10 mx-auto" method="post">
			{% csrf_token %}
			<div class="mx-auto text-center my-4">
				<a
					class="navbar-brand mx-auto mt-2 flex-fill text-center"
					href="{% url 'app:home' %}"
				>
					<img
						src="{% static 'basic/images/logo.svg'%}"
						width="200"
						alt="alternative"
					/>
				</a>
				<h2 class="my-3">Register</h2>
        {% include 'partials/messages.html' %}
			</div>
			<div class="form-group">
				<label for="inputEmail4">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
          <div class="alert alert-danger mt-2" role="alert">
            {{ form.email.errors }}
          </div>
        {% endif %}
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="fullname">Full Name</label>
					{{ form.name }}
          {% if form.name.errors %}
            <div class="alert alert-danger mt-2" role="alert">
              {{ form.name.errors }}
            </div>
          {% endif %}
				</div>
				<div class="form-group col-md-6">
					<label for="phone">Phone Number</label>
          {{ form.phone }}
          {% if form.phone.errors %}
            <div class="alert alert-danger mt-2" role="alert">
              {{ form.phone.errors }}
            </div>
          {% endif %}
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword5">New Password</label>
          {{ form.password }}
          {% if form.password.errors %}
            <div class="alert alert-danger mt-2" role="alert">
              {{ form.password.errors }}
            </div>
          {% endif %}
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword6">Confirm Password</label>
          {{ form.password1 }}
          {% if form.password1.errors %}
            <div class="alert alert-danger mt-2" role="alert">
              {{ form.password1.errors }}
            </div>
          {% endif %}
				</div>
			</div>
			<hr class="my-4" />
      <div class="mb-3">
        <label>
          <p class="float-sm-right text-xs-center m-0">already have an account? <a href="{% url 'app:login' %}" class="card-link">Sign In</a></p>
      </div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				Sign up
			</button>
			<p class="mt-5 mb-3 text-muted text-center">© 2024</p>
		</form>
	</div>
</div>

{% include "partials/auth_script.html" %} {% endblock %}
