<!-- Copyright -->
<div class="copyright bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12 mx-auto">
				<p class="p-small statement">Copyright © 2024 <a>the-impossible</a></p>
			</div>
			<!-- end of col -->
		</div>
		<!-- enf of row -->
	</div>
	<!-- end of container -->
</div>
<!-- end of copyright -->

<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
	<img src="images/up-arrow.png" alt="alternative" />
</button>
<!-- end of back to top button -->
