{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} create candidate{% endblock %}
{% block head %} {% include 'partials/auth_head.html' %} {% endblock %}
{% block body %}

    <div class="wrapper">
      {% include 'partials/login_nav.html' %}

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">Update Candidate Application</h2>
              <p class="text-muted">Carefully fill the form below to apply for Kadpoly-Sport club, kindly review before submitting. NB no double submission</p>
              {% include 'partials/messages.html' %}

              <div class="card shadow mb-4">
                <div class="card-header">

                  <strong class="card-title float-left">Screening</strong>
                  <a href="#" class="btn btn-success float-right" data-toggle="modal" data-target="#shortModal{{forloop.counter}}" style="cursor: pointer;"> <i class="icon-ios-trash"></i>Shortlist</a>
                </div>
                <div class="card-body">
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        {{form2.name|as_crispy_field}}
                        {{form2.phone|as_crispy_field}}
                        {{form1.gender|as_crispy_field}}
                        {{form1.marital_status|as_crispy_field}}
                        {{form1.age|as_crispy_field}}
                        {{form1.date_of_birth|as_crispy_field}}
                        {{form1.medical_condition|as_crispy_field}}
                        {{form1.present_weakness|as_crispy_field}}
                      </div> <!-- /.col -->
                      <div class="col-md-6">
                        {{form2.email|as_crispy_field}}
                        {{form1.present_weight|as_crispy_field}}
                        {{form1.present_height|as_crispy_field}}
                        {{form1.soccer_position|as_crispy_field}}
                        {{form1.next_of_kin|as_crispy_field}}
                        {{form1.relationship_to_next_of_kin|as_crispy_field}}
                        {{form1.address|as_crispy_field}}
                        {{form2.picture|as_crispy_field}}
                      </div>
                      <button type="submit" class="btn mb-2 btn-primary btn-lg btn-block">Submit</button>
                    </div>
                  </form>
                  <div class="modal fade" id="shortModal{{forloop.counter}}" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" id="uploadDialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Shortlist {{user.name}}</h5>
                          <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                          </button>
                        </div>
                        <form method="post" action="{% url 'app:shortlist_candidate' user.pk %}">
                          <div class="modal-body">
                            <p>Are you sure you want to shortlist {{user.name}} record?</p>
                            <img src="{{user.picture.url}}" width="100" alt="">
                            <p class="mt-2"> <b>NB:</b> This process is non-reversal</p>
                            {% csrf_token %}
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success text-white">Shortlist Candidate</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- / .card -->
            </div>
          </div>
        </div>
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    {% include "partials/auth_script.html" %}

{% endblock %}